<section class="form-section">
    <div class="text">
        <h3>Fique por dentro das tendências</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellat, quidem molestiae odio temporibus veritatis non magnam laudantium aliquam corporis facere! Rerum et illum, quas consequatur in inventore eos atque repudiandae vel quaerat quibusdam commodi optio doloribus corporis cum tenetur recusandae dolor ab architecto veritatis nesciunt esse!</p>
    </div>
    <form>
        <label for="name">Nome</label>
        <input id="name">
        <label for="email">Email</label>
        <input id="email">
        <btn-primary></btn-primary>
    </form>
</section>